# Arquivos de build e IDE
.gradle/
.idea/
*.iml
/local.properties
.DS_Store

# Arquivos de build do Android
/build/
/app/build/

# Arquivos do Firebase
**/google-services.json
**/firebase-config.json

# Ignorar MyApplication.java
/app/src/main/java/com/company/miadot/MyApplication.java

# Ignorar CloudinaryConfig.java dentro da pasta utils
/app/src/main/java/com/company/miadot/utils/CloudinaryConfig.java

# Arquivos de cache e logs
*.log
*.swp

# Arquivos do sistema operacional
Thumbs.db
ehthumbs.db
desktop.ini

# Arquivos temporários
*.tmp
*.temp

# Arquivos de ambiente
.env
